<div class="mdui-container" id="app">
    <div class="mdui-card auth-panel">
        <div class="mdui-card-content">
            <div class="mdui-header">
                <h4>登录</h4>
            </div>
            <div class="mdui-textfield">
                <label class="mdui-textfield-label">User ID</label>
                <input name="user_id" class="mdui-textfield-input" type="number" v-model="user.user_id"/>
            </div>
            <div class="mdui-textfield">
                <label class="mdui-textfield-label">Password</label>
                <input name="password" class="mdui-textfield-input" type="password" v-model="user.password"/>
            </div>
            <div class="mdui-m-t-3">
                <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-btn-block mdui-color-theme-accent"
                        @click="submit">登录
                </button>
            </div>
            <div class="footer mdui-typo mdui-m-t-2">
                <a href="/auth/register">还没有账号了？去注册</a>
            </div>
        </div>
    </div>
</div>

<script>
    let vm = new Vue({
        el: "#app",
        data: {
            user: {
                user_id: null,
                password: "",
            }
        },
        methods: {
            submit() {
                this.user.user_id = parseInt(this.user.user_id)
                httpPost("auth/login", this.user).then(res => {
                    if (res.status === "ok") {
                        setTimeout(()=>{
                            window.location.href = "/"
                        },800)
                    }
                })
            }

        }
    })
</script>
