<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>{[.Title]} - 学生作业管理系统</title>
    <link rel="icon" href="/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.2/dist/css/mdui.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/common.js"></script>
    <script src="/static/http.js"></script>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body class="mdui-theme-primary-indigo mdui-theme-layout-auto mdui-theme-accent-indigo mdui-drawer-body-left mdui-appbar-with-toolbar">
{[ yield ]}
<script src="https://cdn.jsdelivr.net/npm/mdui@1.0.2/dist/js/mdui.min.js"></script>
</body>
</html>
