{[render "layouts/header.html"]}
<div class="mdui-container mdui-m-t-2" id="app">
    <div class="mdui-table-fluid">
        <table class="mdui-table">
            <thead>
            <tr>
                <th>#</th>
                <th>作业标题</th>
                <th>发布时间</th>
                <th>截止时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="task in tasks">
                <td>{{ task.id }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.created_at }}</td>
                <td>{{ task.deadline }}</td>
                <td v-if="task.job.filename || task.job.content"><i class="mdui-icon material-icons mdui-text-color-green">check</i></td>
                <td v-else><i class="mdui-icon material-icons mdui-text-color-red">clear</i></td>
                <td>
                    <a :href="'/job/edit/'+task.id" class="mdui-fab mdui-fab-mini mdui-color-theme-accent mdui-ripple">
                        <i class="mdui-icon material-icons">mode_edit</i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    let vm = new Vue({
        el: "#app",
        data: {
            tasks:[]
        },
        created(){
            this.getTasks()
        },
        methods: {
            getTasks(){
              return httpGet("tasks").then(res=>{
                  if (res.status==="ok"){
                      this.tasks = res.data
                  }
              })
            },

        }
    })
</script>
